# Use postgres/example user/password credentials

services:

  # svelte-store:
  #   build:
  #     context: .
  #     dockerfile: dockerfile # Reference the development Dockerfile
  #   ports:
  #     - "5173:5173" # Map host port 5173 to container port 5173
  #   volumes:
  #     - .:/app # Mount the host directory to the container for live updates
  #     - /app/node_modules # Explicitly ignore the node_modules from the host mount to use the container's installed modules
  #   environment:
  #     - NODE_ENV=development
      
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
    - "5432:5432"
    environment:
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
